@charset "UTF-8";
:root {
  --color-white: #FFFFFF;
  --color-gray: #CDCDCB;
  --color-gray-light: #F3F3F3;
  --color-black: #000000;
  --color-black: #020D1D;
  --color-dark: #343D4A;
  --color-green:#496C05;
  --color-red: #FD0101;
  --color-red_new: #DB3E31;
  --color-violet:#551A8B;
  --color-green-light: #7A9D54;
  --color-green-light1: #B8CF9A;
  --color-green-light2: #7A9D54;
  --color-green1:#496C05;
  --color-green2:#334414;
  --color-green3: #557C55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 320px;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.container-wide {
  max-width: 1440px;
  margin: 0 auto;
  background-color: yellowgreen;
}

.container-narrow {
  max-width: 1170px;
  margin: 0 auto;
}

main {
  padding: 5px;
  flex-grow: 1;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.menu {
  background-color: cornsilk;
}

.footer {
  margin-top: auto;
}

.header {
  width: 100%;
  z-index: 10;
  background-color: var(--color-white);
}
.header__container {
  max-width: 1170px;
  margin: 0 auto;
}
.header__block {
  height: 60px;
  display: flex;
  align-items: center;
}
.header__menu {
  height: 60px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__btnnav {
  margin: 0 160px 0 auto;
}
.header__btnnav ul {
  list-style-type: none;
  display: flex;
}
.header__btnnav ul li {
  display: block;
  margin-right: 15px;
}
.header__btnnav ul li:last-child {
  margin-right: 0;
}
.header__btnnav ul li a {
  display: inline-flex;
  padding: 8px 20px;
  background-color: var(--color-gray-light);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-green);
  text-decoration: none;
  outline: none;
}
.header__btnnav ul li a:hover {
  background-color: var(--color-green-light);
  color: var(--color-white);
}

.header__nav {
  margin: 0 160px 0 auto;
}
.header__nav ul {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
}
.header__nav ul li {
  display: block;
  margin-right: 15px;
}
.header__nav ul li:last-child {
  margin-right: 0;
}
.header__nav ul li a {
  display: inline-flex;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
  text-decoration: none;
  outline: none;
}
.header__nav ul li a:hover {
  text-decoration: none;
  color: var(--color-green);
}

.header__right {
  margin-bottom: 2px;
}

.header__login {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-green);
}
.header__login::before {
  content: "😀";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-green);
  transition: all 0.4s;
  transform: scale(0);
}
.header__login:hover {
  text-decoration: none;
  color: var(--color-black);
}
.header__login:hover::before {
  transform: scale(1);
}

.header__btn {
  padding: 8px 20px;
  background-color: var(--color-green);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
  margin-left: 25px;
}
.header__btn:hover {
  background-color: var(--color-gray-light1);
  color: var(--color-green);
}

.header__burg {
  padding: 8px 30px;
  margin-left: 25px;
}
.header__burg:hover {
  transition: 0.5s;
  transform: scale(1.2);
  transform: rotate(90deg);
}

.banner {
  position: relative;
  height: 85vh;
  background-image: url(/storage/images/mainft.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.banner__block {
  position: absolute;
  top: 54%;
}
.banner__title {
  font-size: 30px;
  text-transform: uppercase;
}
.banner__text {
  background-color: var(--color-gray-light);
}

/******************************** Planshet 1160px******************************/
/******************************** Phone 788px*********************************/
.maindatatitle {
  display: block;
  margin-bottom: 10px;
}
.maindata__blocks {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}
.maindata__block {
  width: 100%;
  min-height: 120px;
  background-color: azure;
}
.maindata__selblocks {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.maindata__selblock {
  width: 180px;
  height: 30px;
}
.maindata__label {
  font-size: small;
}
.maindata__list {
  font-size: small;
  width: 160px;
  height: 30px;
  padding: 2px 0 0 0;
}
.maindata__button {
  margin-top: 18px;
  font-size: small;
  width: 180px;
  padding: 6.5px 20px;
  color: var(--color-white);
  background-color: var(--color-green);
}
.maindata__button:hover {
  background-color: var(--color-gray-light);
  color: var(--color-green);
}
.maindata__ingr {
  position: relative;
  width: 100%;
  height: 120px;
  background-image: url(/storage/images/ingr1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.maindata__img {
  position: relative;
  width: 100%;
  height: 120px;
}

.ingr__button {
  position: absolute;
  top: 45%;
  width: 355px;
  background-color: var(--color-gray-light);
  padding: 2px 5px;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  text-decoration: none;
  border: 1px solid var(--color-black);
}
.ingr__button:hover {
  background-color: var(--color-green-light);
  color: var(--color-white);
}

.ingr__overlay {
  position: absolute;
  top: 0%;
  min-height: 120px;
  background-color: var(--color-gray-light);
  display: none;
  z-index: 10;
}

.ingr__overlay__open {
  display: flex;
}

.ingr__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.ingr__close:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

/******************************** Planshet 1160px******************************/
@media (max-width: 1160px) {
  .maindata__selblocks {
    flex-wrap: wrap;
  }
  .maindata__button {
    width: 160px;
  }
  .maindata .ingr__overlay {
    min-height: 120px;
  }
}
/******************************** Phone 788px*********************************/
.daily {
  padding: 30px 0 30px 0;
}
.daily__title {
  font-size: 42px;
  line-height: 1.1;
  font-weight: 700;
}
.daily__blocks {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(188, 197, 203, 0.2);
}
.daily__text {
  margin-bottom: 30px;
}
.daily__texttitle {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
}
.daily__textsm {
  font-size: 28px;
  color: aquamarine;
  margin-top: 10px;
}
.daily__textbold {
  font-size: 20px;
  margin-top: 10px;
}
.daily__block {
  max-width: 580px;
  min-height: 480px;
}
.daily__img {
  width: 580px;
  height: 480px;
}

/***************************************************************************/
.blback {
  background-image: url(/storage/images/popular1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blpict {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************** Planshet 1160px******************************/
@media (max-width: 1160px) {
  .daily__blocks {
    align-items: center;
    flex-direction: column;
  }
}
/******************************** Phone 788px*********************************/
.popular {
  padding: 30px 0 30px 0;
}
.popular__blocks {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.popular__block {
  width: 31.6%;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(188, 197, 203, 0.2);
}
.popular__blocksm {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.popular__img {
  width: 370px;
  height: 250px;
}

/***************************************************************************/
.blback {
  background-image: url(/storage/images/popular1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blpict {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************** Planshet 1160px******************************/
@media (max-width: 1160px) {
  .popular__blocks {
    justify-content: center;
  }
  .popular__block {
    width: 370px;
    margin-right: 25px;
  }
}
/******************************** Phone 788px*********************************/
.articles {
  min-height: 50vh;
}
.articles__blocks {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.articles__block {
  width: 48.7%;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.articles__blocksm {
  width: 350px;
  height: 400px;
  background-color: beige;
}

.blback {
  background-image: url(/storage/images/ad.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blpict {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************** Planshet 1160px******************************/
/******************************** Phone 788px*********************************/
@media (max-width: 788px) {
  .articles__blocks {
    justify-content: center;
  }
  .articles__block {
    width: 570px;
  }
}
.reference__blocks {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(188, 197, 203, 0.2);
}
.reference__block {
  width: 100%;
  margin-bottom: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.reference__blocksm {
  width: 50%;
  height: 540px;
  background-color: azure;
}

.blback {
  background-image: url(/storage/images/ad.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blpict {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************** Planshet 1160px******************************/
@media (max-width: 1160px) {
  .reference__blocks {
    height: 800px;
    flex-direction: column;
    justify-content: space-around;
  }
}
/******************************** Phone 788px*********************************/
.stories {
  min-height: 50vh;
}
.stories__blocks {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.stories__block {
  width: 31.6%;
  height: 800px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.stories__blocksm {
  width: 30%;
  height: 800px;
}

.blback {
  background-image: url(/storage/images/ad.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blpict {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************** Planshet 1160px******************************/
/******************************** Phone 788px*********************************/
@media (max-width: 788px) {
  .stories__blocks {
    justify-content: center;
  }
  .stories__block {
    width: 370px;
    margin-right: 15px;
  }
}
.footer {
  background-color: var(--color-gray);
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}
.footer__container {
  max-width: 1170px;
  margin: 0 auto;
}
.footer__block {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__logo {
  padding-top: 15px;
}
.footer__text {
  color: var(--color-black);
}
.footer__link {
  color: var(--color-green);
}
.footer__link::before {
  content: "😀";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-green);
  transition: all 0.4s;
  transform: scale(0);
}
.footer__link:hover {
  color: var(--color-link-hover);
}

.selection {
  padding: 30px 0 30px 0;
}
.selection__top {
  padding: 20px 2px;
  background-color: var(--color-gray-light);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(188, 197, 203, 0.2);
}
.selection__link {
  color: var(--color-green);
}
.selection__link:hover {
  text-decoration: underline;
}
.selection__blocks {
  max-width: 790px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.selection__block {
  width: 370px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(188, 197, 203, 0.2);
}
.selection__blocksm {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.selection__blocklt {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.selection__blockempty {
  width: 370px;
}
.selection__img {
  width: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

/***************************************************************************/
.blback {
  background-image: url(/storage/images/popular1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blpict {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************** Planshet 1160px******************************/
/******************************** Phone 788px*********************************/
@media (max-width: 788px) {
  .selection__blocks {
    justify-content: center;
  }
}
.product {
  max-width: 790px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}
.product__top {
  padding: 20px 2px;
  align-items: center;
  background-color: var(--color-gray-light);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(188, 197, 203, 0.2);
}
.product__link {
  color: var(--color-violet);
}
.product__link:hover {
  text-decoration: underline;
}
.product__title {
  font-size: 42px;
  line-height: 1.1;
  font-weight: 700;
  color: aqua;
}
.product__blocks {
  max-width: 790px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(188, 197, 203, 0.2);
}
.product__block {
  max-width: 480px;
  min-height: 250px;
  margin-bottom: 10px;
}
.product__blocktext {
  width: 300px;
  padding: 2px 5px;
  margin-bottom: 10px;
}
.product__blocklt {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.product__texttitle {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
}
.product__textsm {
  font-size: 28px;
  color: aquamarine;
  margin-top: 10px;
}
.product__textbold {
  font-size: 20px;
  margin-top: 10px;
}
.product__textinstr {
  font-size: 15px;
  margin-top: 10px;
  line-height: 20px;
}
.product__img {
  width: 580px;
  -o-object-fit: cover;
     object-fit: cover;
}

/***************************************************************************/
.blback {
  background-image: url(/storage/images/popular1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blpict {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************** Planshet 1160px******************************/
/******************************** Phone 788px*********************************/
@media (max-width: 788px) {
  .product {
    padding: 0px 30px;
  }
  .product__blocks {
    flex-direction: column;
  }
}/*# sourceMappingURL=app.css.map */