.articles{
    min-height: 50vh;

    &__blocks{
        max-width: 1170px;
        @include flex-all-sb;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    &__block{
        width: 48.7%;
        height: 400px;
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
    }
    &__blocksm{
        width: 350px;
        height: 400px;
        background-color: beige;
    }
}
    .blback{
        background-image: url(/storage/images/ad.jpg);
        @include bg-cover;
    }
    .blpict{
        @include flex-all-sb;
    }

/******************************** Planshet 1160px******************************/
@media(max-width: 1160px) {

    
}
/******************************** Phone 788px*********************************/
@media(max-width: 788px) {
    .articles{
        &__blocks{
            justify-content: center;
        }
        &__block{
            width:570px;
        }
    }
}
    
