.daily{
//    min-height: 50vh;
    padding: 30px 0 30px 0;

    &__title{
        font-size: 42px;
        line-height: 1.1;
        font-weight: 700;
    }

    &__blocks{
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
//        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid rgba(188, 197, 203, 0.2);
    }

    &__text{
        margin-bottom: 30px;
    }
    &__texttitle{
        font-size: 32px;
        line-height: 1.5;
        font-weight: 500;
    }
    &__textsm{
        font-size: 28px;
        color: aquamarine;
        margin-top: 10px;
    }
    &__textbold{
        font-size: 20px;
        margin-top: 10px;
    }


    &__block{
        max-width: 580px;
        min-height: 480px;
    }
    &__blocksm{

    }
    &__img{
        width: 580px;
        height: 480px;
//        object-fit: cover;
//        object-position: 50% 50%;
    }
}
/***************************************************************************/
    .blback{
        background-image: url(/storage/images/popular1.png);
        @include bg-cover;
    }
    .blpict{
        @include flex-all-sb;
    }

/******************************** Planshet 1160px******************************/
@media(max-width: 1160px) {
    .daily{
        &__blocks{
            align-items: center;
            flex-direction: column;
        }
        &__block{
//            width:370px;
//            margin-right: 25px;
        }
    }
    
}
/******************************** Phone 788px*********************************/
@media(max-width: 788px) {
   
}
