.maindata{
//    min-height: 50vh;

    &title{
        display: block;
        margin-bottom: 10px;
    }

    &__blocks{
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
        @include flex-all-sb;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
    //    border: 1px solid rgba(188, 197, 203, 0.2);
    }

    &__block{
        width: 100%;
        min-height: 120px;
        @include flex-all-sa; 
        flex-direction: column;
        background-color:azure;
        clear: both;
    }
    &__selection{
        width: 100%;
        height: 60px;
        @include flex-all-sb;
//        margin-bottom: 50px;
//        flex-wrap: wrap;
//        z-index: 3;
    //    background-color:aquamarine;       
    }
    &__selblock{
        width:180px;
        height: 30px;
//        margin-bottom: 50px;
    }
    &__label{
        font-size: small;
    }
    &__list{
        font-size: small;
        width:150px;
        height: 20px;
        padding: 2px 0 0 0;
    }
    &__button{
        margin-top: 4px;
        font-size: small;
        width:150px;
        padding: 8px 20px;
        color: var(--color-white);
        background-color: var(--color-green);

        &:hover {
            background-color: var(--color-gray-light);
            color: var(--color-green);
            }
    }
    &__ingr{
        position: relative;
        width: 100%;
        height: 120px;
        background-image: url(/storage/images/ingr1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__img{
        position: relative;
        width: 100%;
        height: 120px;
    }

}

.ingr__button {
    width: 355px;
    background-color: var(--color-gray-light);
    padding: 2px 5px;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-black);
    text-decoration: none;
    border: 1px solid var(--color-black);

    &:hover {
    background-color: var(--color-green-light);
    color: var(--color-white);
//    opacity: 1.2;
//  transform: scale(1.1);
    }
}

.ingr__overlay {
    position: absolute;
    top: 0%;
    min-height: 120px;
    background-color: var(--color-gray-light);  
    display: none;
    justify-content: center;
    z-index: 10;
}

.ingr__overlay__open {
    display: flex;
    justify-content: flex-end;
}

.ingr__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;

    &:hover {
    transition: 0.5s;
    transform: scale(1.2);
//    transform: rotate(90deg);
    }
}

/******************************** Planshet 1160px******************************/
@media(max-width: 1160px) {
    .maindata{
        &__block{
//            min-height: 130px;
        }
        &__selection{
            flex-wrap: wrap;
        }
        &__ingr{
//            min-height: 140px;
        }
        .ingr__overlay {
            min-height: 120px;
        }
    }
}
/******************************** Phone 788px*********************************/
@media(max-width: 788px) {
    .maindata{
        &__block{
//            min-height: 130px;
        }
        &__selection{

        }
        .ingr__button {
            margin-top: 12px;
        }

    }
}

