.reference{
//    min-height: 50vh;

    &__blocks{
        max-width: 1170px;
        @include flex-all-sb;
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid rgba(188, 197, 203, 0.2);
    }
    &__block{
        width: 100%;
        margin-bottom: 60px;
        border-radius: 10px;
        overflow: hidden;
    }
    &__blocksm{
        width: 50%;
        height: 540px;
        background-color:azure;

    }
}
    .blback{
        background-image: url(/storage/images/ad.jpg);
        @include bg-cover;
    }
    .blpict{
        @include flex-all-sb;
    }

/******************************** Planshet 1160px******************************/
@media(max-width: 1160px) {
    .reference{
        &__blocks{
            height: 800px;
            flex-direction: column;
            justify-content: space-around;
        }
    }    
}
/******************************** Phone 788px*********************************/
@media(max-width: 788px) {

}    
