.stories{
    min-height: 50vh;

    &__blocks{
        max-width: 1170px;
        @include flex-all-sb;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    &__block{
        width: 31.6%;
        height: 800px;
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
    }
    &__blocksm{
        width: 30%;
        height: 800px;
    }
}
    .blback{
        background-image: url(/storage/images/ad.jpg);
        @include bg-cover;
    }
    .blpict{
        @include flex-all-sb;
    }

/******************************** Planshet 1160px******************************/
@media(max-width: 1160px) {

    
}
/******************************** Phone 788px*********************************/
@media(max-width: 788px) {
    .stories{
        &__blocks{
            justify-content: center;
        }
        &__block{
            width:370px;
            margin-right: 15px;
        }
    }
}    