:root {
// цвет фона
--color-white:  #FFFFFF;
--color-gray: #CDCDCB;
--color-gray-light: #F3F3F3;

//цвет шрифта
--color-black: #000000;
--color-black: #020D1D;
--color-dark: #343D4A;
--color-green:#496C05;
--color-red: #FD0101;
--color-red_new: #DB3E31;

//цвет кнопок
--color-green-light: #7A9D54;
--color-green-light1: #B8CF9A;
--color-green-light2: #7A9D54;
--color-green1:#496C05;
--color-green2:#334414;
--color-green3: #557C55;
}